.proposal{
    background-color: #fefefe;
    text-align: center;
    padding-bottom: 100px;
    
}
.proposal-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #121212;
   
    margin-top: 90px;
    margin-bottom: 107px;
}
.proposal-box{
    width: 364px;
    border-style: none  none solid none;
    border-color: #0C6EE7;
    border-width: 3px;
    border-radius: 3px;
    background-color: #F2F2F2;
    text-align: center;
}
.box-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28.0784px;
    line-height: 35px;
   margin-top: 62px;
  margin-bottom: 53px;
    color: #121212;
    

}
.box-text-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.07em;
    color: #898989;
    
    margin: 0 30px;
    padding-bottom: 70px;
}
.proposal-row1{
    display: flex;
    justify-content: space-around;
}
.proposal-row2{
    margin-top: 78px;
    display: flex;
    justify-content: space-around;
}
.sponsor-form{
    text-align: center;
  background-image: url(../Images/become\ our\ sponsor\ mobile\ view\ bg2.png);
  background-size: cover;
  
  
}
.form-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #FCFCFC;
    padding: 93px 0 40px 0;
    }
.input-name {
    width: 70vw;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }
  
  .input-Branch {
    width: 70vw;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 30px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-submit {
  cursor: pointer;
}

input:focus, textarea:focus {
  outline: none;
}
  
  .form-input-1 {
    width: 30vw;
    height: 56px;
   
   
  
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #373636;
    background: #FCFCFC;
    opacity: 0.95;
    border-radius: 20px;
  }
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  
  ::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #999999;
  }
  
  .form-input-2 {
    width: 65vw;
    height: 93.45px;
    background: #FCFCFC;
    border-radius: 20px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
  }
  input[type="text"], textarea {
    padding-left: 2em;
    box-sizing: border-box;
}
input[type="number"], textarea {
    padding-left: 2em;
    box-sizing: border-box;
}
input[type="email"], textarea {
    padding-left: 2em;
    box-sizing: border-box;
  }
  .textarea-form-input-2 {
    height: 230px;
    padding-top: 1em;
  }
  
  .form-submit {
    margin-top: 50px;
    width: 20vw;
    height: 51px;
    background: transparent;
    border: 1.28049px solid #FCFCFC;
    border-radius: 25.6098px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 70px;
    color: #FFFFFF;
  }
 
  .form-submit:hover{
    cursor: pointer;
    color: #0C6EE7;
    background-color: #FCFCFC;
    transition: all 0.2s ease;
  }
.fa-angle-right{
    margin-left: 10px;
}

.footer{
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  padding-bottom: 40px;
  background-color: #121212;
  
  
}
.footer-button{
  width: 130px;
  border: 1px solid #0C6EE7;
  border-radius: 10px;
  background: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.12em;
  height: 33px;
  color: #0C6EE7;

}
.footer-button:hover{
  background-color: #0C6EE7;
  color:#D4D4D4 ;
  cursor: pointer;
  transition: all ease .2s;
}
.footer-contact{
display: flex;
flex-direction: column;
text-align: left;
width: 50vw;
padding-left: 7vw;
justify-content: space-evenly;

}
.footer-form{
    display: flex;
    flex-direction: column;
    text-align: left;
   padding-top: 45px;
   
    border-style: none none none solid;
    border-color: #CACACA;
    width: 50vw;
    padding-left: 7vw;
    justify-content: space-evenly;
}
.foot-address{
  color: #D4D4D4;
  text-decoration: none;
  margin-bottom: 15px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;


letter-spacing: 0.12em;

color: #D4D4D4;
}
.footer-contact a{
  color: #D4D4D4;
  text-decoration: none;
  margin-bottom: 15px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;


letter-spacing: 0.12em;

color: #D4D4D4;
}
.footer-contact a:hover{
  color: #0C6EE7;
  cursor: pointer;
}
.footer-contact .fa-solid{
  margin-right: 13px;
}
.contact-us{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;
margin-bottom: 25px;
letter-spacing: 0.12em;

color: #0C6EE7;

}
.footer-form textarea {
  padding-left: 0em;
  box-sizing: border-box;
}
.footer-form input[type="text"]{
  padding-left: 0em;
  box-sizing: border-box;
}
.footer-form input[type="email"]{
  padding-left: 0em;
  box-sizing: border-box;
}
.footer-form input,textarea{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style:solid;
  border-color: #D4D4D4;
  
 
}
.write-to-us{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;

letter-spacing: 0.12em;

color: #0C6EE7;
margin-bottom: 25px;


}
.textarea-form-input-foot{
  margin-bottom: 25px;
  height: 80px;
  width: 30vw;
  background-color: transparent;
  color: #FFFFFF;
  font-family: "Poppins";
  font-size: 16px;
    line-height: 24px;
}
.form-input-foot{
  margin-bottom: 25px;
  height: 50px;
  width: 30vw;
  background-color: transparent;
  color: #FFFFFF;
  font-family: "Poppins";
  font-size: 16px;
    line-height: 24px;
}
textarea{
  resize: none;
}
.marketing{
  background-image: url(../Images/ecell\ marking\ bg2.png);
  background-size: cover;
  text-align: center;
  padding: 130px 0 130px 0;
  background-attachment: fixed;
  display: none;
  /* transform: translateY(-100%);
  transition: all 1s ease; */
}
.market-button{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 38px;
/* identical to box height */
margin-left: 70px;
margin-top: 100px;
margin-bottom: 50px;
border-style: none;
color: #121212;
padding: 0 10px;
border-radius: 2px;
}
.market-button:hover{
  cursor: pointer;
}
.fa-angle-down{
  margin-left: 7px;
}
.angle-click{
  transform: rotate(-180deg);
}
@media screen and (max-width:668px) {
  .help{
    text-align: center;
  }
  .market-button{
    font-size: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.market-head{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;
/* identical to box height */


color: #FCFCFC;

}
.marketing-list{
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}
.marketing-list li{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
text-align: justify;
letter-spacing: 0.01em;

color: #F4F4F4;
margin-bottom: 20px;
}

.img{
  background-image: url(../Images/dekstop\ view\ graph.png);
  width: 564px;
  height: 429px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  transform: scale(1.5);
  
  margin-top: 150px;
  margin-bottom:150px;
}
@media(max-width:1150px) and (min-width:850px){
    .proposal-box{
        width: 275px;
    }
    .box-title{
        font-size: 25px;
        margin: 50px 0;
        line-height: 30px;
    }
    .box-text-2{
        font-size: 15px;
        line-height: 23px;
        margin: 0 20px;
        padding-bottom: 50px;
    }
    .marketing-list{
      margin:0 90px;
    }
    .img{
      
      transform: scale(1.4);
      
      
    }
}
@media (max-width:849.9px) and (min-width:650px)  {
    .proposal-row1{
        flex-direction: column;
        align-items: center;
    }
    .proposal-row2{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .proposal-box{
        margin-bottom: 78px;
    }
    .input-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .input-Branch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
      .input-No {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
      .form-input-1 {
        width: 70vw;
        height: 56px;
        margin-top: 30px;
        font-size: 15px;
      }
    
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
      }
    
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
      }
    
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
      }
    
      .form-input-2 {
        height: 230px;
        width: 70vw;
        margin-top: 30px;
        font-size: 15px;
      }
      .footer{
        flex-direction: column;
        align-items: center;
      }
      .footer-contact{
        text-align: center;
        width: 80vw;
        padding-left: 0;
        margin-top: 30px;
      }
      .footer-form{
        border: none;
        width: 80vw;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
      }
      .footer-button{
        margin: auto;
        margin-top: 30px;
      }
      .form-input-foot{
        width: 70vw;
      }
      .textarea-form-input-foot{
        width: 70vw;
      }
      .footer-contact a{
        margin-bottom: 30px;
      }
      .marketing-list{
        margin:0 60px;
      }
     
      .img{
      
        transform: scale(1);
        margin-top: 80px;
        margin-bottom: 80px;
        
      }
      .marketing-list li{
        font-size: 20px;
      }
      
}

@media (max-width:649.9px) and (min-width:450px)  {
    .proposal-row1{
        flex-direction: column;
        align-items: center;
    }
    .proposal-row2{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .proposal-box{
        margin-bottom: 78px;
    }
    .form-title{
        font-size: 35px;
    }
    .form-submit{
        width: 26vw;
        font-size: 16px;
        padding-top: 4px;
    }
    .input-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
      }
    
      .input-Branch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
      .input-No {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
      .form-input-1 {
        width: 70vw;
        height: 56px;
        margin-top: 30px;
        font-size: 10px;
      }
    
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        color: #999999;
      }
    
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        color: #999999;
      }
    
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        color: #999999;
      }
    
      .form-input-2 {
        height: 230px;
        width: 70vw;
        margin-top: 30px;
        font-size: 10px;
      }

      .footer{
        flex-direction: column;
        align-items: center;
      }
      .footer-contact{
        text-align: center;
        width: 80vw;
        padding-left: 0;
        margin-top: 30px;
      }
      .footer-form{
        border: none;
        width: 80vw;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
      }
      .footer-button{
        margin: auto;
        margin-top: 30px;
      }
      .form-input-foot{
        width: 70vw;
      }
      .textarea-form-input-foot{
        width: 70vw;
      }
      .footer-contact a{
        margin-bottom: 30px;
      }
      .marketing-list{
        margin:0 50px;
      }
      .img{
        background-image: url(../Images/mobile\ view\ graph.png);
        transform: scale(1.3);
        height: 250px;
        width: 250px;
        margin-top: 100px;
        margin-bottom: 100px;
      }
      .marketing{
        background-image: url(../Images/ecell\ marking\ \ mobile\ view\ bgbg.png);
      }
      .market-head{
        font-size: 35px;
      }
      .marketing-list li{
        font-size: 18px;
      }
}
@media screen and (max-width:449.9px) {
  .sponsor-form{
    background-image: url(../Images/become\ our\ sponsor\ bg.png);
  }
    .proposal{
        padding-bottom: 10px;
    }
    .proposal-title{
        font-size: 30px;
        line-height: 45px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 70px;
        margin-bottom: 70px;
    }
    .proposal-row1{
        flex-direction: column;
        align-items: center;
    }
    .proposal-row2{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .proposal-box{
        width: 80vw;
        margin-bottom: 78px;
    }
    .box-title{
        font-size: 25px;
        margin-top: 45px;
        margin-bottom: 30px;
    }
    .box-text-2{
        line-height: 23px;
        font-size: 15px;
        padding-bottom: 60px;
        margin: 0 15px;
    }
    .form-title{
        font-size: 30px;
        padding-top: 70px;
        padding-bottom: 20px;
        margin: 0 20px;
        line-height: 45px;
    }
    .form-submit{
        width: 40vw;
        font-size: 15px;
        padding-top: 0px;
}
    

    .input-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
      }
    
      .input-Branch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
      .input-No {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
      }
    
      .form-input-1 {
        width: 85vw;
        height: 40px;
        margin-top: 20px;
        font-size: 10px;
      }
    
      ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        color: #999999;
      }
    
      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        color: #999999;
      }
    
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        color: #999999;
      }
    
      .form-input-2 {
        height: 130px;
        width: 85vw;
        margin-top: 20px;
        font-size: 10px;
      }
      .footer{
        flex-direction: column;
        align-items: center;
      }
      .footer-contact{
        text-align: center;
        width: 90vw;
        padding-left: 0;
        margin-top: 30px;
      }
      .footer-form{
        border: none;
        width: 90vw;
        text-align: center;
        padding-left: 0;
        margin-bottom: 30px;
      }
      .footer-button{
        margin: auto;
        margin-top: 20px;
      }
      .form-input-foot{
        width: 70vw;
        font-size: 13px;
        height: 30px;
        margin-bottom: 20px;
      }
      .textarea-form-input-foot{
        width: 70vw;
        font-size: 13px;
        height: 50px;
        margin-bottom: 20px;
      }
      .footer-contact a{
        margin-bottom: 30px;
        font-size: 13px;
      }
      .write-to-us{
        font-size: 25px;
      }
      .contact-us{
        font-size: 25px;
      }
      .foot-address{
        font-size: 13px;
      }
      .marketing-list{
        margin:0 30px;
      }
      .img{
        background-image: url(../Images/mobile\ view\ graph.png);
         transform: scale(0.98);
        height: 250px;
        width: 250px;
        margin-top: 35px;
        margin-bottom: 30px;
      }
      .marketing{
        background-image: url(../Images/ecell\ marking\ \ mobile\ view\ bgbg.png);
        padding-top: 70px;
        padding-bottom: 100px;
      }
      .market-head{
        font-size: 30px;
      }
      .marketing-list li{
        font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 9.76694px;
line-height: 15px;
text-align: justify;
letter-spacing: 0.01em;

color: #F4F4F4;
      }
}