/*   Start global   */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma;
    list-style: none;
    
    /* outline: 1px solid brown; */
}

/* navbar start */


* {
    margin: 0;
    padding: 0;
    /* height: 50vh; */
}

.mainp {
    background-color: black;
    /* color: black; */

}

.row {
    display: flex;
    justify-content: center;
    /* flex-direction: row;  */
    align-items: center;
    height: 100vh;
    /* margin-left: 4em;
    margin-right: 4em; */
    /* position: relative;   */


}

.column img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 30%;
}

.c1 {
    max-width: 50%;
    max-height: 50%;
    font-size: 20px;
}

.c2 {
    max-width: 40%;
    font-size: 1.5em;
    display: block;
    text-align: center;
}

/* navbar end */
#section-5{

height: auto;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
    padding-top: 4.375rem;
    padding-bottom: 2.375rem;
    text-align: center;
width:100%;

}
.timeline{
    position:relative;
    max-width:1200px;
    max-height:200%;
 margin-left:auto;

  

}
.heading1{
font-size: 4.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    margin-top:auto;
    margin-bottom:20px;
color: #fff;
font-weight:600;
letter-spacing: 0.1em;
line-height: 6.75rem;
}
.container{
    padding:10px 40px;
    position:relative;
    width:40%;
    animation:movedown 1s linear forwards;
    opacity:0;
    
}
@keyframes movedown{
    0%{
        opacity:1;
        transform:translateY(-30px);
    }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
}

.container:nth-child(2) {
    animation-delay: 0s;
}
.container:nth-child(3) {
    animation-delay: 1s;
}
.container:nth-child(4) {
    animation-delay: 2s;
}
.container:nth-child(5) {
    animation-delay: 3s;
}
.container:nth-child(6) {
    animation-delay: 4s;
}

.text-box{
    padding:10px 10px;
    background:#fff;
    position:relative;
    border-radius:6px;
    font-size:15px;
}
.left-container{
    left:5%;
}
.right-container{
    left:44%;

}


    .after {
            position: absolute;
            width: 6px;
            height: 120px;
            background: #fff;
            left: 45%;
            margin-left: -3px;
            z-index: 1;
            animation: moveline 6s linear forwards;
            margin-top: 10px;

    }
@keyframes moveline{
    0%{
        height:0;
    }
    100%
    {
        height:90%;
    }
}
.text-box h2{
    font-weight:600;
}
.text-box small{
    display:inline-block;
    margin-bottom:5px;
}
.left-container-arrow{
    height:0;
    width:0;
    position:absoloute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 17px solid #fff ;
    border-radius:px;
    margin-left: 390px;

}
.right-container-arrow {
    height: 0;
    width: 0;
    position: absoloute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
margin-left: -410px;

}
 
/* --------------------------------------------------------------------------------------------------- */


#events {
    height: 180vh;
    background: url(./blackbg.jpg);
    background-size: cover;
    background-position: center center;
}

#events-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

/* events start---------------------------------------------------------------- */
.row11{
    display:flex;
        margin-bottom: 50px;
    
}
.eventz-overlay {
    position: absolute;
    bottom: 0;

    background-color: #3e92f2;
    color: #fff;

    overflow: hidden;
    width: 100%;
    height: 0;

    transition: .5s ease;
  }

  .initiatives-images {
    width: 77.08333%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 4%
  }

  .events-image {
    position: relative;
    width: 310px;
    height: 450.9px;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(0.9);
  }

  .event-title {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: .5s ease;
    text-align: center;
    width: 100%;
    height: 63px;
    background: #303030;
    border-radius: 0 0 10px 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
  }

  .event-description {
    display: none;

    transition: .5s ease;
    transition-delay: .1s;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: .07em;
    text-align: left;
    color: #fff;
    overflow-wrap: break-word;

    padding: 42px 30px 40px 30px;
  }

  .events-image:hover .eventz-overlay {
    height: 100%;
    transition: height .5s ease
  }

  .events-image:hover .event-title {
    height: 0;
    visibility: hidden;
    transition: height .5s ease
  }

  .events-image:hover .event-description {
    display: block
  }

/* event end------------------------------------------------------------------------ */




.events-overlay {
    position: absolute;
    left: 0;
    background: radial-gradient(111.36% 111.36% at 16.48% 11.93%, #00E0FF 0%, #0044F2 100%);
    color: #000000;
    overflow: hidden;
    opacity: 0;
    height: 100%;
    width: 0;
    top: 0;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


.box1:hover .events-overlay {
    width: 100%;
    border-radius: 45px;
    animation: fadeIn 1s;


    /* -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s; */
    animation-fill-mode: forwards;
}

@media (max-width:600px) and (min-width:320px)
{
    .timeline{
        margin:50px auto;
        overflow-x:hidden;
    }
    .after{
        left:31px;
    }
    .container{
        width:100%;
        padding-left:80px;
        padding-right:25px;
    }
    .text-box{
        font-size:13px;
    }
    .text-box small{
        margin-bottom:10px;
    }
    .right-container{
        left:0;
    }
    .left-container-arrow,.right-container-arrow{
       
    visibility: hidden;
    
}
.left-container
{
    left:0%;
}
#events{
        height: auto
        
        ;
        background: url(./blackbg.jpg);
        background-size: cover;
        background-position: center center;
}
        #events-sub {
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
        }
                .row11 {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 50px;
                    margin-left: auto;
                }
}



