]/* Header */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body{
	background-color: white;
}
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding-top: 10%;
	min-height: 100vh !important;
	padding-bottom: 13%;
	/* padding-left: 7.625em; */
}
.home{
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#large-header {
	width: 100vw;
	/* background: radial-gradient(100% 159.69% at 100% 100%,  0%,  100%); */
	background: linear-gradient(-45deg, #120E3D, #000000);
	/* background-size: 400% 400%;
	animation: gradient 5s ease infinite; */
	text-align: center;
	background-attachment: fixed;
	background-size: cover;
	font-size: 16px;
	display: flex;
	background-position: center;
	justify-content: center;
	padding: 10vw;
}
.main-title {text-align: left;font-family: 'Poppins';font-style: normal;font-weight: 600;line-height: 7.625em;letter-spacing: 0.025em;color:  #EDA177;}
.main-sub-head{
 text-align:left;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 400;
 font-size: 1.586em;
 line-height: 1.375em;
 letter-spacing: 0.02em;
 color:  #FFFFFF;
}

.about{
   text-align: center;
   padding: 6.5em;
}
.heading{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 2.8125em;
   line-height: 1.5em;
/* identical to box height */
   color: #121212;
}
.about-text{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 1.375em;
	line-height: 190%;
	margin: 1.125em 0;
	text-align: justify;
	letter-spacing: 0.04em;
	color: #898989;
}
.about-btn{
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	color: white;
	width: 11.6425em;
	height: 3.3994em;
	left: 6.3125rem;
	top: 40rem;
	border: 0.125rem solid #FFFFFF;
	border-radius: 0.3924rem;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 1.1025em;
	line-height: 1.625em;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}
.about-btn:hover{/* background-color: #EDA177; */color: #ffffff;background: #FA43FF;border: none;transition: all 0.5s ease;}
.about-btn-2{
	text-align: center;
	cursor: pointer;
	background-color: transparent;
	color: white;
	width: 11.6425em;
	height: 3.3994em;
	left: 6.3125rem;
	top: 40rem;
	border: 0.125rem solid #FFFFFF;
	border-radius: 0.3924em;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 1.1025em;
	line-height: 1.625em;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}
#section-3{
	/* height: 100vh; */
	background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.about-2{
	
	display: flex;
	justify-content: space-around;
    padding:  12.5rem 5vw 12.5rem 5vw;
}
.abt-2-left{
	text-align: center;
	width: 50vw;
}
.about-2-head{
	font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1.687rem;
line-height: 2.5rem;
/* identical to box height */

text-align: left;

color: #FFFFFF;

}
.about-2-sub-head{
	font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 5.375rem;
line-height: 8.0625rem;
text-align: left;
color: #EDA177;

}
.abt-2-right{
	text-align: justify;
	width: 50vw;
}
.about-2-text{
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1.375rem;
line-height: 2.0625rem;
text-align: justify;

color: #FFFFFF;
}
.oppertunities{
	background-color: #FFFFFF;
	padding: 6.875rem 0 13rem 0;
	text-align: center;
}
.row{
	display: flex;
	justify-content: space-around;
	margin-top: 10rem;
	
}
.row-2{
	display: flex;
	justify-content: space-evenly;
	margin-top: 10rem;
}
.box{
	text-align: center;
	height: 16.625rem;
	width: 18rem;
}
.box img{
height: 5.5rem;
width: 5.5rem;
}
.box-head{
	font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 1.75rem;
line-height: 2.625rem;
/* identical to box height */


color: #000000;

}
.box-text{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.375rem;
line-height: 2.0625rem;
text-align: center;

color: #989898;

}

#section-5 {
	height: 100%;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	overflow: hidden;
	padding-top: 9.375rem;
	padding-bottom: 9.375rem;
	text-align: center;
  }
  
  #title {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	font-family: "lato", sans-serif;
	font-weight: 300;
	font-size: 50px;
	letter-spacing: 10px;
	margin-top: -60px;
	padding-left: 10px;
  }
  #title span {
	background: -webkit-linear-gradient(white, #38495a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  @keyframes animStar {
	from {
	  transform: translateY(0px);
	}
	to {
	  transform: translateY(-2000px);
	}
  }

#section-6{
	background: #1a1a1a;
	padding: 5.75em 0;
	text-align: center;
}
.faq{
	padding: 0px 7.625em;
	text-align: left;
}
.quest{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
line-height:2.25rem;
/* identical to box height */

text-align: justify;

color: #EDA177;

}
.ans{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-size: 1.1875em;
	line-height: 2.0625em;
	text-align: justify;
	margin-top: 1.2rem;
	/* margin-bottom: 4rem; */
	color: #FFFFFF;
}
.faq-head{
	margin-bottom: 0em;
}
#section-7{
	background: #121212;
	text-align: center;
}
.footer-hr{height: 3px;width: 90vw;margin: auto;margin-bottom: 6.25rem;background-color: transparent;border: none;}
.foot-head{
	font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size:  2.25rem;
line-height: 3.25rem;
/* identical to box height, or 144% */
text-align: left;
margin-left: 5vw;

color: #FFFFFF;

}
.footer{
	display: flex;
	justify-content: space-around;
	padding: 1.68rem 5vw 6.25rem 5vw;
}
.foot-left{
	
	width: 50vw;
}
.foot-no{
	display:flex ;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.foot-no p{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.375rem;
line-height: 3.25rem;
/* or 236% */
color: #F4F4F4;

}
.foot-no p a{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.375rem;
line-height: 3.25rem;
/* or 236% */
color: #F4F4F4;
text-decoration: none;

}
.foot-right{
	
	width: 50vw;
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.375rem;
line-height: 2rem;
text-align: center;
color: #F3F3F3;
padding-left: 5vw;
}
.foot-right p a{
	font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.375rem;
line-height: 2rem;
text-decoration: none;
color: #F3F3F3;

}
.footer-mail{
	text-align: left;
}
.foot-right p{
	margin-top: 1rem;
}
.foot-right .fa-solid{
font-size: 2rem;
color: #EDA177;;
margin-right: 2.5rem;
}
.social{
	text-align: center;
	padding-bottom: 5rem;
}
.icon{
	display: flex;
	font-size: 1.43rem;
	width: 40vw;
	justify-content: space-around;
	margin: auto;
	color: #FFFFFF;
	margin-bottom: 2rem;
}
.icon div a{
	text-decoration: none;
	color: #FFFFFF;
}
.copyright{
	font-family: 'Assistant';
font-style: normal;
font-weight: 400;
font-size: 0.9rem;
line-height: 1rem;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
margin-top: 5rem;

}
@media (max-width:1400px)and (min-width:1300px){
	html{
		font-size: 15px;
	}
}
@media (max-width:1300px)and (min-width:1200px){
	html{
		font-size: 14px;
	}
}
@media (max-width:1200px)and (min-width:1100px){
	html{
		font-size: 14px;
	}
	.countdown{
		transform: scale(1);
	}
}
@media (max-width:1100px)and (min-width:1000px){
	html{
		font-size: 13px;

	}
	.about-2-sub-head{
		font-size: 4.5rem;
	}
	.countdown{
		transform: scale(1);
	}
	.main {
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}
@media (max-width:1000px)and (min-width:900px){
	html{
		font-size: 13px;

	}
	.about-2-sub-head{
		font-size: 4.5rem;
	}
	.countdown{
		transform: scale(0.9);
	}
	.main {
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}
@media (max-width:900px)and (min-width:700px){
	.main {
		background-size: cover;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	html{
		font-size: 13px;

	}
	.large-header{
		/* flex-direction: column; */
		/* align-items: center; */
		/* justify-content: space-around; */
		font-size: 11px !important;
	}
	.countdown{
		transform: scale(0.8);
		/* margin-bottom: 60px; */
	}
	.about-2-sub-head{
		font-size: 4.5rem;
		width: 80vw;
		text-align: center;
	}
	.about-2{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-2-head{
		text-align: center;
		margin: auto;
	}
	.abt-2-left{
		width: 80vw;
		text-align: center;
	}
	#section-3{
		height: auto;
	}
	.abt-2-right{
		width: 80vw;
		margin-top: 2rem;
	}
	.row {
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.row-2{
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.box{
		margin-top: 7rem;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
	.foot-head{
		text-align: center;
	}
	.foot-left{
		margin-top: 2rem;
		width: 80vw;
	}
	.foot-right{
		margin-top: 3rem;
		padding-left: 0;
		width: 80vw;
	}
	.footer-mail{
		text-align: center;
	}
	.main-title{
		font-size: 11px;
		/* padding-left: 1rem; */
		/* padding-right: 1rem; */
		text-align: left;
	}
}
@media (max-width:700px)and (min-width:500px){
	html{
		font-size: 10px;

	}
	.main-sub-head {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.586em;
    line-height: 1.375em;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
	.large-header{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 13px !important;
		background-position: center !important;
	}
	.countdown{
		transform: scale(0.8);
	}
	.about-2-sub-head{
		font-size: 4.5rem;
		width: 80vw;
		text-align: center;
	}
	.about-2{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-2-head{
		text-align: center;
		margin: auto;
	}
	.abt-2-left{
		width: 80vw;
		text-align: center;
	}
	#section-3{
		height: auto;
	}
	.abt-2-right{
		width: 80vw;
		margin-top: 2rem;
	}
	.row {
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.row-2{
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.box{
		margin-top: 7rem;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
	.foot-head{
		text-align: center;
	}
	.foot-left{
		margin-top: 2rem;
		width: 80vw;
	}
	.foot-right{
		margin-top: 3rem;
		padding-left: 0;
		width: 80vw;
	}
	.footer-mail{
		text-align: center;
	}
	.main-title{
		font-size: 10px;
		/* padding-left: 1rem; */
		/* padding-right: 1rem; */
		text-align: center;
	}
	.form{
		width: 80vw;
	}
	form input{
		width: 70vw;
	}
	.form-btn{
		margin-left: 15vw;
		padding-left: 0;
	}
	.form-input-1 select{
		width: 70vw;
	}
}
@media (max-width:500px)and (min-width:300px){
	.form-hr{
		width: 70vw;
		height: 1.5px;
	}
	.form-input-1 select{
		width: 70vw;
	}
	nav{
		background: rgb(20 20 20) !important;
	}
	.large-header{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-left: 0px;
		background-image:url(../bgrm.png) !important;
		
	}
	.countdown{
		transform: scale(0.58);
		/* margin-bottom: 60px; */
		/* margin-top: 50px; */
		margin: 0px;
	}
	.footer-hr{
		height: 1.5px;
	}
	.main-sub-head{
		/* padding-left: 3rem; */
		/* padding-right: 3rem; */
		text-align: center;
		font-size: 10px;
	}
	html{
		/* font-size: 10px; */
	}
	#rnhead{
		font-size:8px !important;
	}
	#rnform{
		padding:0px !important;
	}
	#section-2{
		font-size:7px;
	}
	.about-text {
		margin: 2.125em 0;
	}
	#section-6{
		font-size: 9px;
	}
	.faq{
		padding: 0px 3.625em;;
	}
	.about-2-sub-head{
		font-size: 4.5rem;
		width: 80vw;
		text-align: center;
	}
	.about-2{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-2-head{
		text-align: center;
		margin: auto;
	}
	.abt-2-left{
		width: 80vw;
		text-align: center;
	}
	#section-3{
		height: auto;
	}
	.abt-2-right{
		width: 80vw;
		margin-top: 2rem;
	}
	.row {
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.row-2{
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.box{
		margin-top: 7rem;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
	.foot-head{
		text-align: center;
	}
	.foot-left{
		margin-top: 2rem;
		width: 80vw;
	}
	.foot-right{
		margin-top: 3rem;
		padding-left: 0;
		width: 80vw;
	}
	.footer-mail{
		text-align: center;
	}

	.main-title{
		font-size: 6px;
		padding-left: 0rem;
		padding-right: 0rem;
		text-align: center;
	}
	.form{
		width: 80vw;
	}
	form input{
		width: 70vw;
	}
	.form-btn{
		margin-left: 15vw;
		padding-left: 0;
	}
}
@media screen and (max-width:300px){
	html{
		font-size: 10px;

	}
	.form-input-1 select{
		width: 70vw;
	}
	.large-header{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.countdown{
		transform: scale(0.8);
		margin-bottom: 60px;
	}
	.about-2-sub-head{
		font-size: 4.5rem;
		width: 80vw;
		text-align: center;
	}
	.about-2{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.about-2-head{
		text-align: center;
		margin: auto;
	}
	.abt-2-left{
		width: 80vw;
		text-align: center;
	}
	#section-3{
		height: auto;
	}
	.abt-2-right{
		width: 80vw;
		margin-top: 2rem;
	}
	.row {
		display: flex;
		justify-content: space-around;
margin-top: 0;
		flex-direction: column;
		align-items: center;
	}
	.box{
		margin-top: 7rem;
	}
	.footer{
		flex-direction: column;
		align-items: center;
	}
	.foot-head{
		text-align: center;
	}
	.foot-left{
		margin-top: 2rem;
		width: 80vw;
	}
	.foot-right{
		margin-top: 3rem;
		padding-left: 0;
		width: 80vw;
	}
	.footer-mail{
		text-align: center;
	}
	.main-title{
		font-size: 4.5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
	}
	.main-sub-head{
		text-align: center;
	}
	.form{
		width: 80vw;
	}
	form input{
		width: 70vw;
	}
	.form-btn{
		margin-left: 15vw;
		padding-left: 0;
	}
}
.vertical-timeline::before {
    border-radius: 10px !important;
}